 <div class="gate-container">
        <div class="gate-row">
            <div class="gate-menus">
                <div class="gate-menu gate-menu-active">
                    <h4>Gate 1- Interest</h4>
                    <div class="gate-menus-inner">
                        <h1 class="gate-menus-active-header">P-WIN:60%</h1>
                        <h3>Question Progress</h3>
                        <div class="container-progressbar">
                            <div class="skill" style="width:100%;background-color: #59a30f;"></div>
                            <div class="skill-message"  style="left:99%; background-color: #59a30f;">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gate-menu gate-menu-orange">
                    <h4>Gate 2 - Pursuit</h4>
                    <div class="gate-menus-inner">
                        <h1 class="gate-menu-orange">P-WIN:20%</h1>
                        <h3 class="gate-menu-orange">Question Progress</h3>
                        <div class="container-progressbar">
                            <div class="skill" style="width:60%;background-color: rgba(201,94,19,255);"></div>
                            <div class="skill-message"  style="left:61%; background-color: rgba(201,94,19,255);">
                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                            </div>
                        </div>
                              
                    </div>
                </div>
                <div class="gate-menu gate-menu-orange">
                    <h4>Gate 3 - Preliminary Grid </h4>
                    <div class="gate-menus-inner">
                        <h1 class="gate-menu-orange">P-WIN:20%</h1>
                        <h3 class="gate-menu-orange">Question Progress</h3>
                        <div class="container-progressbar">
                            <div class="skill" style="width:60%;background-color: rgba(201,94,19,255);"></div>
                            <div class="skill-message"  style="left:61%; background-color: rgba(201,94,19,255);">
                                <i class="fa fa-exclamation" aria-hidden="true"></i>
                            </div>
                        </div>
                              
                    </div>
                </div>
                <div class="gate-menu">
                    <h4>Gate 4- Bid Validation</h4>
                    <div class="gate-menus-inner">
                        <h1 class="gate-menu-green">P-WIN:60%</h1>
                        <h3 >Question Progress</h3>
                        <div class="container-progressbar">
                            <div class="skill" style="width:100%;background-color: #59a30f;"></div>
                            <div class="skill-message"  style="left:99%; background-color: #59a30f;">
                                <i class="fa fa-check" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gate-menu">
                    <h4>Gate 5- Proposal Development</h4>
                    <div class="gate-menus-inner">
                        <h1 class="gate-menu-purple">P-WIN:0%</h1>
                        <h3 class="gate-menu-purple">Question Progress</h3>
                        <div class="container-progressbar">
                            <div class="skill" style="width:10%;background-color: rgba(176,30,67,255);"></div>
                            <div class="skill-message"  style="left:11%; background-color: rgba(176,30,67,255);">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gate-menu">
                    <h4>Quote</h4>
                    <div class="gate-menus-inner">
                        <h1 class="gate-menu-purple">P-WIN:0%</h1>
                        <h3 class="gate-menu-purple">Question Progress</h3>
                        <div class="container-progressbar">
                            <div class="skill" style="width:10%;background-color: rgba(176,30,67,255);"></div>
                            <div class="skill-message"  style="left:11%; background-color: rgba(176,30,67,255);">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="gate-menu">
                    <h4>Contract Negotiation</h4>
                    <div class="gate-menus-inner">
                        <h1 class="gate-menu-purple">P-WIN:0%</h1>
                        <h3 class="gate-menu-purple">Question Progress</h3>
                        <div class="container-progressbar">
                            <div class="skill" style="width:10%;background-color: rgba(176,30,67,255);"></div>
                            <div class="skill-message"  style="left:11%; background-color: rgba(176,30,67,255);">
                                <i class="fa fa-arrow-down" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="gate-items">
                <div class="gate-item">
                    <h2>What Is Your Name</h2>
                    <div class="gate-item-checkebox">
                       <div>
                        <div class="container">
                            <div class="radio">
                                <input type="radio" checked value="Male" name='gender' id='male' />
                                <label for="male"></label>
                            </div>
                        </div>
                        <div class="right">Yes</div>
                       </div>
    
                       <div>
                        <div class="container">
                            <div class="radio">
                                <input type="radio" value="Female" name='gender' id='female' />
                                <label for="female"></label>
                            </div>
                        </div>
                        <div class="right">No</div>
                       </div>
                    </div>

                </div>
                <div class="gate-item">
                    <h3>What Is Your Name</h3>
                    <div class="gate-item-checkebox">
                       <div>
                        <div class="container">
                            <div class="radio">
                                <input type="radio" checked value="Male" name="button" id='male' />
                                <label for="male"></label>
                            </div>
                        </div>
                        <div class="right">Yes</div>
                       </div>
    
                       <div>
                        <div class="container">
                            <div class="radio">
                                <input type="radio" value="Female" name="button" id='female' />
                                <label for="female"></label>
                            </div>
                        </div>
                        <div class="right">No</div>
                       </div>
                    </div>

                </div>
                <div class="gate-item">
                    <h3>What Is Your Name</h3>
                    <div class="gate-item-checkebox">
                       <div>
                        <div class="container">
                            <div class="radio">
                                <input type="radio" checked name="buttontwo"   />
                                <label for="male"></label>
                            </div>
                        </div>
                        <div class="right">Yes</div>
                       </div>
    
                       <div>
                        <div class="container">
                            <div class="radio">
                                <input type="radio" value="Femalejjj" name="buttontwo"  />
                                <label for="female"></label>
                            </div>
                        </div>
                        <div class="right">No</div>
                       </div>
                    </div>

                </div>

            </div>
        </div>
    </div>